:root {
	--lightorange: rgba(255, 165, 0, 0.1);
}

.form {
	position: relative;
	width: 350px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	padding: 20px 15px;
	margin: auto auto;
}

.title {
	text-transform: uppercase;
	text-align: center;
}

.form-element {
	text-align: left;
	margin: 30px auto;
	font-weight: bold;
}

legend {
	margin-bottom: -20px;
	font-weight: bold;
}

fieldset {
	display: block;
	border: none;
	margin-left: -15px;
}

.input-field {
	position: absolute;
	width: 60%;
	right: 15px;
}
/* 
ul {
	margin-left: -35px;
	list-style: none;
	margin-bottom: -20px;
} */

.btn {
	width: 49%;
	display: inline-block;
	font-size: 0.8em;
	padding: 5px 5px;
	border-style: solid;
	border-radius: 3px;
	border-color: var(--green);
}

.btn-primary {
	background-color: var(--green);
	color: var(--white);
}

.btn-secondary {
	background-color: var(--white);
	border-style: solid;
	color: var(--green);
}

.btn-primary:hover {
	background-color: var(--orange);
	border-color: var(--black);
	color: var(--black);
}

.btn-secondary:hover {
	background-color: var(--lightorange);
}
