/* * {
	box-sizing: border-box;
} */

:root {
	--main-bg-color: #13152b;
	--main-fg-color: #fc97f8;
	--white: #ffffff;
	--gray1: #333333;
	--gray2: #555555;
	--gray3: #cccccc;
	--gray4: #aaaaaa;

	--black: #080808;
	--teal: #006060;
	--lightteal: #008080;
	--purple: #800080;
	--navy: #000080;
	--cyan: #17a2b8;
	--violetred: #c71585;
	--red: #ff0000;
	--orange: #ffa500;
	--green: #006400;
}

.bg {
	background-color: var(--main-bg-color);
}

html {
	scroll-padding-top: 200px;
}

h1 {
	color: var(--white);
}

body {
	/* font-family: "Open Sans", "Helvetica Neue", sans-serif; */
	font-family: "Lucida Console", Courier, monospace;
	/* font-size: 1.2em; */
	color: var(--white);
	margin: 44px auto 0;
	padding: 2em;
}

nav {
	padding-top: 2%;
	padding-left: 10%;
	padding-right: 10%;
}

#mepicture {
	border-radius: 15%;
	/* display: inline; */
	/* border-color: var(--main-fg-color);
	border-width: 1em;
	border-style: solid; */
	max-width: 100%;
	max-height: 100%;
	/* width: auto;
	height: auto; */
	margin: 1em 1em auto;
	/* margin-bottom: 2em; */
	/* height: 100%;
	width: 100%; */
	/* object-fit: contain; */
	/* margin: auto;
	height: 30em;
	width: 30em; */
}

.carousel {
	margin: 3em;
}

.carousel-item img {
	/* margin: 10%; */
	/* size: 30%; */
	/* border-radius: 15%; */
	/* object-fit: cover; */
	/* margin-bottom: 10%; */
	/* top: 0; */
	/* left: 0; */
	height: 300px;
	width: 300px;
}

.container {
	display: block;
	border-radius: 15%;
	color: var(--main-fg-color);
	border-color: var(--main-fg-color);
	border-width: 0.25em;
	border-style: solid;
	padding: 3em;
	margin: 3em auto;
}

.carousel-item {
	/* border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15%; */
	height: 500px;
}

.input-field {
	margin-left: 10em;
}

.fs-4 {
	color: var(--main-fg-color);
	text-decoration-color: var(--main-fg-color);
}

.accordion-button:focus {
	color: var(--main-bg-color);
	background-color: var(--main-fg-color);
	/* box-shadow: 0 0 8px var(--main-fg-color); */
	box-shadow: none;
}

/* https://stackoverflow.com/questions/66335238/changing-the-color-arrow-in-bootstrap */
.accordion-button:after {
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.btn-format {
	justify-content: end;
	margin: 10%;
}

.btn-primary {
	background-color: var(--main-bg-color);
}

.form {
	position: relative;
	/* width: 350px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	padding: 20px 15px;
	margin: auto auto; */
}

/* .form-element {
	text-align: left;
	margin: 30px auto;
	font-weight: bold;
} */

.input-field {
	/* top: 0; */
	color: var(--white);
	border: solid;
	border-color: var(--main-fg-color);
	position: relative;
	width: 60%;
	right: 10px;
}

/* .alert-warning {
	background-color: var(--white);
	color: var(--main-bg-color);
	width: 30%;
	display: inline-block;
	padding: 10px 10px;
	border-style: solid;
	border-radius: 3px;
} */

.input-field:focus {
	border-color: var(--main-fg-color);
	box-shadow: 0px 0px 5px var(--main-fg-color);
}

.btn-format {
	display: flex;
	align-items: flex-end;
}

.btn {
	width: 30%;
	display: inline-block;
	padding: 10px 10px;
	border-style: solid;
	border-radius: 3px;
	border-color: var(--main-fg-color);
}

.btn-primary {
	background-color: var(--main-fg-color);
	color: var(--main-bg-color);
}

.btn-secondary {
	background-color: var(--main-bg-color);
	border-style: solid;
	color: var(--main-fg-color);
}

.btn-primary:hover {
	background-color: var(--white);
	border-color: var(--white);
	color: var(--main-bg-color);
}

.btn-secondary:hover {
	background-color: var(--lightorange);
}

#github-link {
	display: inline;
	height: 30px;
	width: 30px;
}

.carousel-caption {
	margin-top: 5%;
}

/* .bi-carousel {
	display: inline-block;
	vertical-align: middle;
	width: 10em;
	height: 10em;
} */

/* .carousel-inner.container {
	border: none;
} */

/* .bi-carousel {
	max-width: 80%;
	max-height: 80%;
	width: 1000px;
	height: 1000px;
	margin: 2em 2em auto;
} */

/* form {
	width: 400px;
}

.flex-item,
.grid-item {
	padding: 10px;
	background-color: var(--purple);
	color: var(--white);
	font-size: 2.4em;
	text-align: center;
}

.flex-item {
	width: 160px;
	height: 80px;
	margin: 1px;
} */
