:root {
	--main-bg-color: #13152b;
	--main-fg-color: #fc97f8;
	--white: #ffffff;
	--gray1: #333333;
	--gray2: #555555;
	--gray3: #cccccc;
	--gray4: #aaaaaa;
	--black: #080808;
}

h1 {
	color: var(--white);
	font-size: 2rem;
}

.abt {
	font-size: 1rem;
}

@media (min-width: 544px) {
	h1 {
		font-size: 2rem;
	}
	.abt {
		font-size: 1rem;
	}
}

@media (min-width: 768px) {
	h1 {
		font-size: 2rem;
	}
	.abt {
		font-size: 1.25rem;
	}
}

@media (min-width: 992px) {
	h1 {
		font-size: 2.5rem;
	}
	.abt {
		font-size: 1.25rem;
	}
}

@media (min-width: 1200px) {
	h1 {
		font-size: 3rem;
	}
	.abt {
		font-size: 1.5rem;
	}
}

.bg {
	background-color: var(--main-bg-color);
}

html {
	scroll-padding-top: 200px;
}

body {
	font-family: "Lucida Console", Menlo-Regular, monospace;
	color: var(--white);
	margin: 44px auto 0;
	padding: 2em;
}

nav {
	padding-top: 2%;
	padding-left: 10%;
	padding-right: 10%;
}

#mepicture {
	border-radius: 15%;
	max-width: 100%;
	max-height: 100%;
}

.carousel {
	margin: 2em;
}

.carousel-item img {
	height: 300px;
	width: 300px;
}

.container {
	display: block;
	border-radius: 15%;
	color: var(--main-fg-color);
	border-color: var(--main-fg-color);
	border-width: 0.25em;
	border-style: solid;
	padding: 3em;
	margin: 4em auto;
}

.carousel-item {
	height: 500px;
}

.input-field {
	margin-left: 10em;
}

.fs-4 {
	color: var(--main-fg-color);
	text-decoration-color: var(--main-fg-color);
}

.accordion-button:focus {
	color: var(--main-bg-color);
	background-color: var(--main-fg-color);
	box-shadow: none;
}

.accordion-button:after {
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.btn-format {
	justify-content: end;
	margin: 10%;
}

.btn-primary {
	background-color: var(--main-bg-color);
}

.form {
	position: relative;
}

.input-field {
	color: var(--white);
	border: solid;
	border-color: var(--main-fg-color);
	position: relative;
	width: 60%;
	right: 2rem;
	top: -2rem;
}

.input-field:focus {
	border-color: var(--main-fg-color);
	box-shadow: 0px 0px 5px var(--main-fg-color);
}

.btn-format {
	display: flex;
	align-items: flex-end;
}

.btn {
	width: 6rem;
	display: inline-block;
	padding: 10px 10px;
	border-style: solid;
	border-radius: 3px;
	border-color: var(--main-fg-color);
}

.btn-primary {
	background-color: var(--main-fg-color);
	color: var(--main-bg-color);
}

.btn-secondary {
	background-color: var(--main-bg-color);
	border-style: solid;
	color: var(--main-fg-color);
}

.btn-primary:hover {
	background-color: var(--white);
	border-color: var(--white);
	color: var(--main-bg-color);
}

.btn-secondary:hover {
	background-color: var(--lightorange);
}

#github-link {
	display: inline;
	height: 30px;
	width: 30px;
}

.carousel-caption {
	margin-top: 5%;
}
