/* * {
	box-sizing: border-box;
} */

:root {
	/* --main-bg-color: coral; */
	--white: #ffffff;
	--gray1: #333333;
	--gray2: #555555;
	--gray3: #cccccc;
	--gray4: #aaaaaa;

	--black: #080808;
	--teal: #006060;
	--lightteal: #008080;
	--purple: #800080;
	--navy: #000080;
	--cyan: #17a2b8;
	--violetred: #c71585;
	--red: #ff0000;
	--orange: #ffa500;
	--green: #006400;
}

html {
	scroll-padding-top: 100px;
}

body {
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 1.2em;
	color: var(--white);
	margin: 44px auto 0;
	padding: 10em;
}

.navbar {
	padding-top: 2%;
	padding-left: 10%;
	padding-right: 10%;
}

#mepicture {
	display: block;
	border-radius: 15%;
	border-color: var(--white);
	border-width: 1em;
	border-style: solid;
	margin: auto;
	height: 50%;
	width: 50%;
}

.carousel {
	margin: auto;
}

.carousel .carousel-item {
	height: 500px;
}

.carousel-item img {
	position: absolute;
	object-fit: cover;
	/* margin-bottom: 10%; */
	/* top: 0; */
	/* left: 0; */
	min-height: 500px;
}
/* form {
	width: 400px;
}

.flex-item,
.grid-item {
	padding: 10px;
	background-color: var(--purple);
	color: var(--white);
	font-size: 2.4em;
	text-align: center;
}

.flex-item {
	width: 160px;
	height: 80px;
	margin: 1px;
} */
